[2014-08-22 19:56] pzimbelman-ut opened #17 "Gem is modifying nil"
We've been using the gem lately in our project and we noticed that certain calls are modifying the nil object. Based on the history of the repo I know this library is very new but I wanted to open up an issue to discuss this and see if it would be possible to avoid modifying the nil object and adding methods to it.

For instance:
https://github.com/contentful/contentful-management.rb/blob/master/l

[2014-08-28 09:54] madtrick opened #22 "Assets won't refresh its fields variable when using the #reload method"
If you reload an asset (`asset.reload`) its _properties_ and _sys_ instance variables get the new values but the _fields_ variable doesn't. This is because of a `is_a?` [check](https://github.com/contentful/contentful-management.rb/blob/master/lib/contentful/management/resource/refresher.rb#L20) performed on the resource.

So if anyone wants to do a _real_ refresh he hast to use `assets.find(...)`

[2014-08-28 10:44] #17 closed, assigned to nobody

[2014-09-09 15:41] solnic opened #27 "Possible to copy entries between 2 spaces?"

[2014-09-12 08:06] #22 closed, assigned to nobody

[2014-10-07 08:59] #27 closed, assigned to nobody

[2014-10-08 10:36] pxlpnk opened #31 "Expose validation data in cma objects"
As it seems there is no validation data exposed on objects returned by the Gem.
It would be useful to be able to access this.

[2014-10-30 15:47] #31 closed, assigned to nobody

[2014-10-30 15:57] pxlpnk opened #35 "Items are nil when creating an array field for a content type"
[code]

From the request

[code]

It seems somewhere in here the items array gets lost:
https://github.com/contentful/contentful-management.rb/blob/master/lib/contentful/management/field.rb#L37

[2014-10-31 10:58] #35 closed, assigned to nobody

[2014-11-03 12:40] oliverzeyen opened #37 "bug when adding fields to freshly generated content_type"
It turned out there is a bug when creating or adding fields to a freshly generated content_type.

[2014-11-03 13:14] #37 closed, assigned to nobody

[2014-11-19 10:19] pxlpnk opened #41 "multiple `Field#create` calls on a content type lose validations"
When calling `fields.create` with validations multiple times, the validations are not being sent to the api and therefore result in an invalid content type.

Called like this:

[code]

[2014-12-04 10:42] #41 closed, assigned to nobody

[2014-12-09 20:06] ranakhalil opened #45 "get error types via Contentful::Management::Error response"
Hey there,

We are currently using Contentful::Management::Error to rescue any exceptions, however there are really few exceptions that the Contentful Error class is handling and we wanted to create our own class that catch more error types from responses returned. In the Management JS API we are able to get the full response with the name of the error returned from Contentful. Can we get the same

[2015-01-05 11:52] #45 closed

[2015-01-15 18:55] ranakhalil commented on #45
@pxlpnk Thank you so much.

[2015-02-14 00:02] jsdalton opened #49 "Error when updating content type with validations"
I'm getting an IOError when attempting to update an existing content type that has fields with validation on it. The error is emanating from pretty deep within HTTP::Client, when the parameters are being coerced as json. It appears that during the process of converting properties to a hash, the :validations property of the Validation object has an extra Validation on it which is getting missed.

S

[2015-02-14 00:24] jsdalton commented on #49
Just for reference this is my janky workaround for the time being, pending this issue being resolved.

Where `content_type` is a `Contentful::Management::ContentType`

[code]

I have to run this on a content_type if I wish to update it after it has been retrieved.

[2015-02-16 09:25] pxlpnk commented on #49
Could you post the code that you use to create the content type, field and validation?
Which version of the Gem are you using, could you also let me know what the version of the http gem is you are using?
I am currently failing in reproducing the issue.

[2015-02-16 16:22] jsdalton commented on #49
Sure let's see. Firstly, I'm using contentful-management (0.6.0).

As far as the code goes, here is the actual code being executed that reproduces the bug: (The actual calls to the contentful management library are hidden behind helper methods)

[code]

Here is the debug level output when the code above is executed:

[code]

And here is the relevant implementation of those helper methods:

[code]

[2015-02-17 23:56] jsdalton commented on #49
I did some more work related to this issue today, and one question that arose for me is why a `:validations` property even makes sense on a Validation object? Digging in to the API response, there is no validations field returned under validations nor is there any concept of a validation having nested validations.

It's quite possible that I'm unaware of functionality or contexts where a nested va

[2015-02-18 00:37] jsdalton opened #50 "Implement :disabled property on Field class"
I ran into an issue trying to do `content_types.fields.destroy()` ... from what I can tell, Contentful is very unhappy when a field goes missing entirely. Although it will allow the update to proceed, future attempts to activate the content type will fail (through the admin and through the API) with the error "Error activating "Product": Previously published fields are missing or invalid". Note I

[2015-02-18 01:46] jsdalton opened #51 "Implement :displayField property on ContentType"
This one appears to be a bug, because if content_type.update() gets called without explicitly setting `:displayField` as an attribute, then the displayField that was set previously on the content type is lost subsequently.

The fix for this would be to add a :displayProperty field to ContentType, since that field is already included in the response from the API and the API respects it when it's in

[2015-02-18 14:54] pxlpnk commented on #49
Thank you for all the reports. I will take a look into them as soon as I am back from sick leave!

[2015-02-19 14:08] pxlpnk commented on #49
I just tried to reproduce the issue with a bit of simpler code. Unfortunately I can not reproduce the error.
Could you have a look on what I might be missing?

[code]

What version of the `http` Gem are you using (`bundle show http`)?

[2015-02-19 15:12] pxlpnk commented on #50
Thank you for your input, keep it coming :dancers:

There is a bit of a discrepancy between what the user interface allows you to do and what the api allows.
Basically the UI tries to prevent you from breaking stuff, the api on the other hand gives you way more and less opinionated access to content types and entries.
In general deleting a field from a content type before it is activated is ok. Ho

[2015-02-19 17:20] #51 closed

[2015-02-19 18:02] jsdalton commented on #49
Thanks for looking into this! I ran your exactly code above and was pretty mystified to as to why this would not reproduce the error we saw. I ended up firing both my original code and this script in two separate debugging sessions side by side, and stepping deep within the request building process to figure out what was going wrong.

I FINALLY got to the bottom of this -- and ironically it's lite

[2015-02-19 19:11] jsdalton commented on #50
Makes sense. I actually ended up not deleting any fields, because in my use case I'm trying to delete fields on already activated content types. So ultimately, being able to explicitly disable / reenable fields is the feature that works.

First and foremost, actually adding a property that tracks the disabled status of the field is the most helpful step:

[code]

Doing that, disabled just becomes

[2015-02-19 20:15] pxlpnk commented on #49
Which version of rails are you using? I tried to reproduce it now with the logger from the stdlib and an old rails 3.2 that I had lying around and could not reproduce it either.

[2015-02-19 20:25] pxlpnk commented on #49
Ok I was now able to reproduce this.
I still do not understand where this sub validation object is coming from though.
I will investigate this a bit more. Thank you already for the great help! :+1:

[2015-02-20 00:55] jsdalton opened #53 "displayField causing validation errors when not set"
This related to pull request #52.

So i just upgraded to 0.6.1 and in doing so I hit a validation error in the case where a display field is not defined on a content type. Digging here's what I think might be happening:

`:displayField` is a string property. When I load up a content type without a displayField being set, the nil or missing value is being coerced into a blank string i.e. `""`. On a

[2015-02-20 10:38] pxlpnk commented on #53
See #54 for a fix

[2015-02-20 13:52] #50 closed

[2015-03-02 20:57] samme opened #56 ""NoMethodError: undefined method `version=' for nil:NilClass" after `Contentful::Management::Space.all`"
[code]

[2015-03-02 21:16] pxlpnk commented on #56
Thank you for reporting this issue.
How are you initialising the client?
Please replace space/organization ids and your access token with placeholders in your code when posting it.

[2015-03-02 22:12] samme commented on #56
[code]

I think I fixed it by moving the initialization inside the helper:

[code]

[2015-03-02 22:42] pxlpnk commented on #56
You need to make sure that the client is initialised before the first api call.
Depending on your application you want to do this when starting the app, or lazy on the first call through a wrapper.

[2015-03-03 01:22] samme commented on #56
Yes, I thought I'd structured it that way — I was initializing during startup and then calling the helper from an interactive console. But I guess not.

Thanks.

[2015-03-03 01:22] #56 closed

[2015-03-19 07:16] #53 closed

[2015-05-14 19:07] nijotz opened #59 "Validation type is incorrect"
I'm using the Product template on a new space. The Brand Website field is validated by regex. contentful-management says the type is 'Present'

[code]

It seems to be the test on this line:
https://github.com/contentful/contentful-management.rb/blob/master/lib/contentful/management/validation.rb#L28

checking for nil, but present and linkField are booleans and are set to false, not nil.

[2015-05-19 13:38] neonichu opened #60 "Use default locale for existing spaces"
Currently, the default locale for all operations is the one set in the `Client` or `en-US` if nothing was set.

This is a sensible default when creating new Spaces, but when dealing with an existing Space, we should query the user's default locale and use that.

[2015-05-19 13:48] neonichu opened #61 "Using a simple field assignment does not work"
[code]

This should result in `fields` being set to `{:name=>"Hello World"}`.

Using `q.name_with_locales = { "en-US" => "Hello World" }` works as intended, though.

[2015-06-02 19:19] ranakhalil commented on #61
I saw this problem with 0.7.0, however when I reverted back to 0.6.0 fields assignment worked and the field was saved and published!

[2015-06-03 09:16] neonichu opened #63 "Bool fields set to `false` are not saved correctly"
Current behaviour:

[code]

but `q.fields` should be == `p.fields`

[2015-06-04 08:46] #63 closed

[2015-06-04 09:01] #61 closed

[2015-08-26 08:26] #59 closed

[2015-10-20 14:10] #49 closed

[2015-10-20 14:58] #60 closed

[2015-11-05 11:18] dlitvakb opened #69 "Update Documentation"
There are outdated links on class comments and some comments are oudated as well

[2015-11-12 09:14] grncdr opened #70 "fields_for_query has buggy order-dependent logic"
This comes from ZenDesk, and appears to be a bug on [this line](https://github.com/contentful/contentful-management.rb/blob/fcadb13e8096a75c7dd7d1e959023d310c0af55e/lib/contentful/management/entry.rb#L195).

If the first `(locale, fields)` tuple in `raw_fields` does not contain every field name, then the result of `fields_for_query` can entirely skip fields that _do_ have defined values in other l

[2015-11-12 16:36] dlitvakb commented on #70
@grncdr after several tests, I cannot find any unexpected behaviour related to the pointed out method or any `*_with_locales` field

### Tests done:

On a Space with 2 locales with 1 content type, with fields `a` (localized), `b` (not localized), created entries like the following (On the UI, then queried with the SDK):

- `{a: {'en-US': 'foo', 'es': 'bar'}, b: nil}`

- `{a: {'en-US': nil, 'es': '

[2015-11-13 07:08] lluzak commented on #70
Hey, @dlitvakb, all tests above are correct, but what we are getting from API is:

[code]

Because of wrong order of locales in fields ( other entries always have ``en-US`` locale as first ), when i call:
[code]

Problem is in https://github.com/contentful/contentful-management.rb/blob/master/lib/contentful/management/entry.rb#L195, where is assume that default locale in ```@fields``` is always fi

[2015-11-13 09:05] grncdr commented on #70
Thanks for providing these extra details @lluzak! AFAIK the ordering of keys in JSON objects (and Ruby hashes) is not something one can depend on, so if the code does that's probably a mistake, and @dlitvakb was just lucky with his tests.

[2015-11-13 11:11] dlitvakb commented on #70
@lluzak Oh, the issue makes sense now. Have actually no idea how to generate it so that the default locale is not the first place, but, I got to fix the issue by merging whatever is there from any locale.

PR soon

[2015-11-24 13:09] #70 closed

[2015-12-03 20:26] kylethornton opened #73 "Cannot update entries/assets when en-US does not exist in the space"
I have tried every combination that I can but it seems that the api is unable to create entries/assets properly (with localization) when en-US doesn't exist in the Space as a locale. We have en-GB and es-ES

I have a content type in the variable ```jo``` and that type has a Name ```name``` (a string) and a Value ```value``` (a json obejct) field. The Value field has localization enabled, the Name

[2015-12-07 13:24] dlitvakb commented on #73
Hey @kylethornton,

Thanks for the input, I'll be looking into this issue

[2015-12-07 13:35] kylethornton commented on #73
thanks @dlitvakb. Please let me know if you need any further information. We are looking to build a script  and would like to use this gem.

[2015-12-07 14:07] dlitvakb commented on #73
Hey @kylethornton,

I was able to reproduce the problem, and found a solution without having to change any code.

There are 2 possible solutions:

1) If you have multiple Spaces with different Default Locales:

Assign Default Locale per Content Type:

[code]

2) If all your Spaces share the same Default Locale

Create the `Contentful::Management::Client` with the Default Locale

[code]

Please let

[2015-12-07 14:16] kylethornton commented on #73
Thank you @dlitvakb, I am able to get this working now.

[2015-12-07 14:16] #73 closed

[2015-12-07 14:40] dlitvakb opened #75 "De-Singleton Client from Resources (Multi-Locale Handling)"
After discussion with @neonichu,

#67 Solved the problem of spaces being aware of their default locale

But with #73, the problem of `:default_locale` being handled globally for requests other than Space came up.

Therefore, it's required that the Client is removed from being a Singleton, though still the Shared Instance could be used, but only as a "Token Accessor" and clones of said Client shoul

[2016-01-21 15:08] dlitvakb opened #78 "De-Duplicate FieldAware code"
FieldAware code should be reused inside DynamicEntry

[2016-01-21 15:08] dlitvakb opened #79 "Fix Content Types to respect new Validation Schema"

[2016-01-21 21:18] #79 closed

[2016-02-03 16:14] dlitvakb commented on #69
Fixed by #84

[2016-02-03 16:14] #69 closed

[2016-02-16 12:22] #75 closed

[2016-02-24 16:34] #78 closed

[2016-02-25 14:31] dlitvakb opened #87 "Posting a Resource with Circular References breaks when Application also includes ActiveSupport"
When you app requires `ActiveSupport` and you have a resource with circular references.

As `ActiveSupport` patches Ruby's Built-in `HTTP::Client` to call `ActiveSupport#to_json` on `#post` and `#put`.

This causes a never-ending loop that will halt any other operations. This affects specifically `Entry#save` in the case of circular references.

Fix required is very simple:

[code]

[2016-03-01 15:25] kylethornton opened #88 "Unable to set proxy server for callouts"
When using the management gem I see no way to set a proxy server. I do see the http gem is being used. Can you add support to configure callouts using a proxy server? Documentation for using a proxy server with the http gem is here:

https://github.com/httprb/http/wiki/Proxy-Support

If I can find some time I may be able to submit a pull requests.

[2016-03-10 09:31] dlitvakb commented on #88
Hey @kylethornton,

Thanks for the suggestion, we already have this available for our CDA SDK, I'll look into adding it here as well.

Cheers

[2016-03-10 12:36] kylethornton commented on #88
Thanks @dlitvakb I have already made use of it in the CDA SDK but have some developers struggling do develop on the CMA SDK so this would be a welcome update.

[2016-03-10 13:48] dlitvakb commented on #88
No problem!

We're looking forward to adding this, but there's so much cool stuff going on! :smile:

I'll try to get it done as soon as possible.

Cheers

[2016-03-11 13:43] #88 closed

[2016-03-26 14:50] dlitvakb opened #91 "`#{field}_with_locales=` Not working properly"
Since `v1.0` - Fields with Locales is not working properly

Test should be added for testing assignment properly

[code]

[2016-03-29 15:27] #91 closed

[2016-04-07 14:35] benben opened #94 "gracefully accept stringified keys"
[code]

[2016-04-07 19:54] benben opened #95 "show more verbose errors"
Right now, it is really hard to find out, why an api call is failing. For example when I try to create an entry with

[code]

to really see what is actually not validating I just found this way:

[code]

Would be nice to have the error message(s) in an instance var or something like that in the exception.

[2016-07-29 21:35] mrh-is opened #102 "Client methods undefined"
Some of the`Client` methods aren't available. Weirdly, it looks like all the `attr`s and the methods marked `# @private` are defined, but the public ones are not. My testing code below:

[code]

[code]

[2016-07-31 16:38] dlitvakb commented on #102
Hey @mrh-is,

Can you confirm what version are you using?

Client methods are available from version `1.0` onwards, while `0.x` uses a different approach.

If you're on `0.x`, methods are as follows:

[code]

All Contentful resources follow the same pattern

Hope that helps

[2016-08-01 16:32] mrh-is commented on #102
@dlitvakb Yep, that was it! I'm also using `contentful-importer`, which relies on [`'~> 0.7.0'`](https://github.com/contentful/contentful-importer.rb/blob/master/contentful_importer.gemspec#L24). Thanks for the pointer!

[2016-08-01 16:32] #102 closed

[2016-08-13 00:31] mrh-is opened #104 "File uploads are processing forever"
I'm uploading files via the Management API, but they're never done processing. I'm trying to add secondary locales to existing files. My code works for the entries, so I think I have all the locale stuff working correctly. I can `update` with the new `file`, which is a `Contentful:Management::File` with its `contentType`, `fileName`, and `upload` set to the MIME type, file name with extension, and

[2016-08-16 00:29] qbunt opened #106 "Erroneously reporting 'Service Unavailable, contenful.com API seems to be down'"
Using the following code:

[code]

We get the following output:

[code]

Using the same space, same accessToken in Node, everything runs fine and nothing reports as a 503 (because everything is operational and online).

This recently just caused us a couple of days of issues because we assumed that the bridge was down, and it clearly isn't.

Looking at the code, it looks like maybe there's a condi

[2016-08-17 11:50] dlitvakb commented on #106
Hey @qbunt,

What happens when you use the token directly?

If it works, could you check that the path you're using is correct and that the file is properly being read? I'd recommend not using relative paths and using `File.join(File.dirname(__FILE__), 'data', '.oauth.token')` to get the proper path from the current working file.

Please let me know if that helps

Cheers

[2016-08-17 11:54] dlitvakb commented on #104
Hey @mrh-is,

Are you calling process on the asset?

The best way to do it, is like `contentful-bootstrap` deals with assets: https://github.com/contentful/contentful-bootstrap.rb/blob/master/lib/contentful/bootstrap/templates/base.rb#L108RL124

Hope this helps

Cheers

[2016-08-17 12:00] kuma-giyomu commented on #106
Using the token directly gives the same result. The file exists and is read properly. The content can be output without any issue. Regardless, the error reported is a 503 which supposedly comes from the server.

[2016-08-17 12:27] dlitvakb commented on #106
Hey @kuma-giyomu,

Could you open up a support ticket?

This doesn't seem to be an SDK issue

Cheers

[2016-08-17 14:37] mrh-is commented on #104
Hmm, I'll try that, thanks for the pointer. I was trying to use `asset.process`, but it said that the asset had already been processed, because the primary locale was already processed & published. I will post here after trying again.

[2016-08-17 14:49] qbunt commented on #106
Actually, this is most definitely an SDK error. The Node SDKs and HTTP APIs
return good responses with the same token data. I initially opened a
support ticket and quickly closed it as this issue is not caused by the
platform.

On Wed, Aug 17, 2016, 5:28 AM David Litvak Bruno <notifications@github.com>
wrote:

[2016-08-17 15:33] dlitvakb commented on #106
Could you then open a support ticket regarding the SDK and ask for me?

I will need your token and space ID, and this is not the place to share private tokens.

Cheers

[2016-08-17 17:54] qbunt commented on #106
I'll do that right now, thanks @dlitvakb

[2016-08-17 18:02] qbunt commented on #106
@dlitvakb Asked for you as requested in ticket #8997 in your support system. Please let me know when you get a chance to review. Thanks!

[2016-08-17 19:10] dlitvakb commented on #106
Hey @qbunt,

Just replied, closing this ticket and continuing conversation over there

Cheers

[2016-08-17 19:10] #106 closed

[2016-08-17 19:13] dlitvakb commented on #104
Hey @mrh-is,

How did it go?

[2016-08-17 19:29] mrh-is commented on #104
Didn't work. 😞 Contentful still says the asset has already been processed.

More specific code:

[code]

Like I said above, the title makes it to Contentful, and it says the file is processing (even if I don't call `process_file`). The processing just goes on forever.

Working with gem v0.7.3.

[2016-08-17 19:51] dlitvakb commented on #104
I see what the problem is, `Asset#process_file` runs processing for each locale.

What you can do for processing a single locale is run the following:

[code]

That will process the asset only for the specified locale.

Hope that helps

Cheers

[2016-08-17 21:20] mrh-is commented on #104
Yay, that works! 👏 Thanks for the help!

[2016-08-17 21:20] #104 closed

[2016-08-17 22:35] dlitvakb commented on #104
No problem!

Glad it helped!

[2017-01-20 02:08] alvindu-pw opened #111 "Getting snapshots?"
The developers api supports getting all the snapshots of an entry or getting a snapshot by ID, wondering if this is something that can be included in the management client as well?

[2017-01-20 11:20] dlitvakb commented on #111
Hey @alvindu-pw,

This is currently planned, we're going to add it within the next month most likely.

Cheers

[2017-01-20 21:55] alvindu-pw commented on #111
Very cool! One nice to have is..  So right now, through the REST api we can only get snapshots by snapshot ID or pull all of it. This is not great because when we fetch an entry we only get the revision or published version. So it would great to either add snapshot id into the entry data, or give use the ability to get snapshot via version number. It's a real hassle having to pull all snapshots an

[2017-01-20 22:32] dlitvakb commented on #111
Hey @alvindu-pw, I'll send this feedback to our PM team.

Thanks

[2017-03-16 09:14] #111 closed

[2017-03-16 09:18] dlitvakb commented on #111
Hey @alvindu-pw,

Snapshots API has been added to the SDK, it will be released (also including Upload API), sometime between tomorrow and Monday.

Cheers

[2017-03-16 17:04] alvindu-pw commented on #111
Really cool! Thanks a lot!

[2017-05-18 12:18] macobo opened #118 "Media type validations not serialized/deserialized correctly?"
## Problem

Unable to add new fields to existing content types with media fields having size validations.

Trying to do so throws a validation error.

From looking at the request/response patterns, it seems `assetFileSize` (and maybe others) might not be properly deserialized or serialized.

## Reproducing

I was able to reproduce this after creating a new content type:

[code]

On this content ty

[2017-05-18 13:05] #118 closed

[2017-06-14 22:58] sebbean commented on #104
@dlitvakb doesnt this mean that any asset with a single locale cannot be processed?

[2017-06-15 01:33] dlitvakb commented on #104
Hey @sebbean,

If your asset has only a single locale, it will run only for that locale. This issue was related to having some locales already processed and some not, therefore when it was hitting an already processed locale it was throwing an error, therefore requiring to manually process a single specified.

Hope that explains it better.

Cheers

[2017-07-10 07:48] skazzaks opened #122 "Error in FieldAware"
I have been successfully using contentful-management for a while now, and it has worked like a charm. Recently, I tried to use an import script that I wrote and my script bombs in field_aware.rb with the following error:
`/home/devon/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/contentful-management-1.6.0/lib/contentful/management/resource/field_aware.rb:25:in 'block (2 levels) in create_getter'

[2017-07-10 13:09] dlitvakb commented on #122
Hey @skazzaks,

Looks like I need some more information to pinpoint the issue.

Could you open a support request? Please ask for my assistance. This week I'll be with limited availability but I'll try to solve your problem as soon as I can.

Cheers

[2017-07-10 13:12] skazzaks commented on #122
Hi there and thanks for your answer. How do I open a support request?

[2017-07-10 13:21] dlitvakb commented on #122
You can create a request here: https://support.contentful.com/hc/en-us/requests/new

Cheers

[2017-07-27 11:48] loudmouth opened #124 "Upload causes crash"
Rvm: 2.4.1
contentful-management: 1.8.1

My script:

[code]

causes the following output:

[code]

What might the issue be?

Additionally, I've noticed that acceptance tests in `spec/lib/contentful/management/` only test that the returned object is of type `Contentful::Management::Upload` but does not test that any of the relevant properties have correct value

[2017-07-27 12:00] loudmouth commented on #124
I have also tried the same thing by assigning path explicitly and using the following:

[code]

[2017-08-04 00:10] #124 closed

[2017-08-13 23:23] nithinsema4 opened #126 "Unable to add a link to an entry"
I have a mapping between diseases and genes
My disease id is 4ygut0Dm2c8SGw8oEwOKoY
I am trying to add a link to an existing gene (with id 5zIJxwfys80uIMcmAcaMkm) to this disease's entry.

Code is as follows:

[code]

I was able to see the following error but I am not quite sure how to solve this.

[code]
Could you please tell me what I am doing wrong?

[2017-08-13 23:55] nithinsema4 commented on #126
Never mind, i was incorrectly passing in the new link's values.
It worked after i created an object "x" and passed it in:

[code]

[2017-08-13 23:55] #126 closed

[2017-08-14 14:13] #122 closed

[2017-10-27 15:41] #95 closed

[2017-11-03 13:20] CavalloCrop opened #139 "Localized fields brake entry creation"
I'm trying to create a page type entry with localized fields and some not, using ruby sdk.
In my space, "en-US" is the default_language, but i want to create entry localized in "it-IT"

FIELDS NOT LOCALIZED: code, url, metaTitle
LOCALIZED FIElDS: title, body

[code]

The page created with this code has only localized fields and not the others, but if i use locale: "en-US" the fields are all.

How

[2017-11-03 13:23] dlitvakb commented on #139
Hey @CavalloCrop,

You should instead do:

[code]

The shorthand method `create` only works for the default locale.

Hope this helps,

Cheers

[2017-11-03 13:26] dlitvakb commented on #139
Also,

If you want to want to assign multiple locales at once for a field, you can you use the `_with_locales` suffix for all fields, and assign it a hash with the values for all locales.

You can find more info about that here: https://github.com/contentful/contentful-management.rb#entries

Cheers

[2017-11-03 14:06] CavalloCrop commented on #139
Hey @dlitvakb
Still not working!
I did as you wrote, but again the method creates only localized fields.
I notice that if i type locale field at the beginning, then i got only localized fields (no code,url, metatitle), like this:
[code]
Instead, if i type the locale field at the end, no field is correctly located
[code]
Also, the created entry with `page = content_type_page.entries.new` cannot be

[2017-11-03 14:17] dlitvakb commented on #139
Hey @CavalloCrop,

The `entry.locale` field is to tell the object which locale to use for assignment, it will only affect the fields in said locale once you set that value to the locale that you want to target. Therefore, it always has to be set before setting any other field for that respective locale. If not set, it will always use the default locale to set the values.

The other method I told y

[2017-12-01 12:20] nomasprime opened #140 "Getting Contentful::Link rather than Contentful::Entry for nested objects"
My migrations:
[code]
In a console:
[code]
If I try and access a property, I get:
[code]
When I try and access Jumbotron it works as expected, not sure what the difference is. Any ideas?

[2017-12-01 12:22] nomasprime commented on #140
@dlitvakb under a lot of pressure today to get this working. Can you see anything wrong with what I'm doing?

[2017-12-01 12:33] nomasprime commented on #140
Sorry, wrong repo.

[2017-12-01 12:33] #140 closed

[2017-12-05 17:27] gingermusketeer opened #141 "Example editor interface update code does not work"
I have been working on an integration with contentful and I have been having some issues getting the example code to work. The example below was taken from [here](https://www.contentful.com/developers/docs/references/content-management-api/#/reference/editor-interface/editor-interface/update-the-editor-interface/console/ruby)

[code]

The error that I am getting is
[code]

I assume that the method

[2017-12-06 12:52] dlitvakb commented on #141
Hey @gingermusketeer,

You're right, this is the correct behaviour, using `#update`. You can find this also in the specs: https://github.com/contentful/contentful-management.rb/blob/master/spec/lib/contentful/management/editor_interface_spec.rb#L37

I'll update the snippets in the readme and the docs as soon as I can.

Thanks for the report.

Cheers

[2017-12-07 03:17] gingermusketeer commented on #141
Thanks for the quick response!

[2017-12-08 10:46] nomasprime opened #142 "No errors for locale validation"
I'm using Contentful Model gem but thought I'd raise the issue here as it seems more to do with Management.

Tried doing this in `seeds.rb`:
[code]
And got the following error:
[code]
Not sure how to interpret the error.

[2017-12-08 10:58] nomasprime commented on #142
Now I'm not sure: maybe it's Contentful Model.

[2017-12-08 14:00] dlitvakb commented on #142
Can you share the `ex.response.raw` content?

Looks like it may be an edge case on the error reporting that's causing the error not to display.

Also, regarding the creation error itself, check if your field IDs match the values you're sending as keys.

The SDK does snake_case/camelCase automatic conversions when populating the objects or saving from an already existing object, but it doesn't know

[2017-12-08 14:12] nomasprime commented on #142
Oh, from an exception? I'll check.

[2017-12-08 14:26] nomasprime commented on #142
Changed `ContentfulModel::Manageable::ClassMethods#create` to:
[code]
Which gave me:
[code]
Should be pretty straightforward from here. Wanted to leave breadcrumbs here for myself and others 🙂

[2017-12-08 15:20] dlitvakb commented on #142
Hey @nomasprime,

Looks like your default locale does not match your space locale.

I'll also add this edge case error to the CMA SDK error handling.

Cheers

[2017-12-11 10:23] nomasprime commented on #142
Confirmed @dlitvakb, updated locale and works as expected.

I've changed the title of the issue accordingly.

[2017-12-11 10:36] dlitvakb commented on #142
Thanks @nomasprime!

I'll try to get this fixed and released within this week.

Cheers

[2018-01-31 09:22] Soliah opened #143 "Pagination on assets doesn't work without first calling limit"
If I do

[code]

The query hash on the request isn't instantiated:

[code]

Calling `space.assets.all(limit: 100)` works with `next_page` though.

This doesn't seem to affect entries (don't need to call `limit` first).

[2018-02-03 09:44] Soliah opened #144 "Gem is not thread safe"
Doesn't look like this gem is thread safe. Using https://github.com/grosser/parallel with `in_threads` I get the following errors when iterating over entries:

[code]

The script I was running:

[code]

Seems to be some shared state across threads in the gem but haven't a chance to look. Using `in_processes` works though.

[2018-02-06 10:06] dlitvakb commented on #143
Hey @Soliah,

Just found the issue, I'll fix it and create a PR today.

Cheers

[2018-02-06 10:34] #143 closed

[2018-02-06 10:34] dlitvakb commented on #143
This has just been merged, I'll look into any other pending open tickets, and make a release hopefully today, otherwise tomorrow.

Cheers

[2018-02-07 04:57] raybradley opened #146 "Possible to resolve users from snapshots?"
For a given Entry I'd like to enumerate all snapshots and display the name of the person who made the change as well as the timestamp. I can get the timestamp easily enough, but users show up as #<Contentful::Management::Link: @sys={:type=>"Link", :linkType=>"User", :id=>"23hkj6hkjs809sd"}>

It's not clear from the docs if there's a way to fetch or inflate that user. Ideas?

[2018-02-07 10:14] dlitvakb commented on #146
Hey @raybradley,

This is not possible, only user that you are only to fetch information from is the user associated with your own token.

If you need more information please contact [support](https://support.contentful.com).

Cheers

[2018-02-07 10:14] #146 closed

[2018-02-07 13:22] dlitvakb commented on #144
Hey @Soliah,

I answered to this issue through our support channel.

Cheers

[2018-03-28 23:51] Soliah commented on #144
Closing as we're using processes instead of threads to deal with this.

[2018-03-28 23:51] #144 closed

[2018-03-30 09:41] palumbamboo opened #151 "JSON dependency on Ruby >2.4"
Is there a way to eliminate forced dependency with json 1.8 or at least one way to get compatibility with Ruby 2.4?

[2018-03-30 20:48] rezonant opened #152 "OpenSSL::SSL::SSLError: SSL_connect SYSCALL returned=5 errno=0 state=SSLv3/TLS write client hello"
Occasionally, the management gem crashes on request to Contentful with this error. It's not readily reproducible, and happens during our content import process, so this is blocking us from fully moving to Contentful for our content solution.

Information online is hard to find, but some indicate this may be due to a misconfiguration on Contentful's servers, which would make sense if only a few of

[2018-03-30 21:07] rezonant commented on #152
Oh, I should've added a backtrace. Also, this is Ruby 2.4.0 on Mac OS X Sierra

[2018-03-30 21:10] rezonant commented on #152
I've also opened a related support request at Contentful

[2018-03-30 22:49] rezonant commented on #152
Was using OpenSSL 1.1.0f, upgraded to 1.1.0h but the issue persists:
[code]
Also configured OpenSSL to use TLS with an initializer:
[code]
This also has no effect wrt this error.

[2018-03-30 23:26] rezonant commented on #152
Don't know for sure yet, but possibly setting OpenSSL to only ever try TLS v1.2 and disabling compression may be fixing this issue for me:

[code]

[2018-04-03 09:12] dlitvakb commented on #152
Hi @rezonant,

I'll add our security and infra engineers as they may understand more of this issue to the conversation. I'm not sure of what could be happening. And it seems not to be an specific issue of the SDK but rather of the SSL handshake.

cc @felipecoe @elblivion

[2018-04-03 09:17] dlitvakb commented on #151
Hey @CavalloCrop,

The dependency version fix could be dropped, but 1.8.x is compatible with Ruby 2.4.x, Ruby 2.5.x and Ruby@HEAD. Therefore you shouldn't be seeing any issues.

I'll add this to my backlog as we're soon to start deprecating support for 1.x releases of Ruby and this update is one of the steps into doing that.

Cheers

[2018-05-02 12:14] infrajatuki opened #155 "Updating editor interface for single field resets editor interfaces and help text for other fields"
Hi,

I used the following code to change the editor interface of a single field in a content type. It appears that in the process some of the editor interfaces settings of other fields in the same content type have been changed/reset and the help texts have vanished.

[code]

[2018-05-02 14:19] dlitvakb commented on #155
Hey @a-lehdet,

Sorry that happened, but this because the CMA API only allows PUT requests and not PATCH requests, so you need to specify the whole payload in order to update it without losing information.

What I recommend you to do is to update it by doing something like:

[code]

This will avoid losing data by removing existing configuration from the editor interface.

Hope this helps,

Cheers

[2018-05-03 06:50] a-lehdet commented on #155
Thanks for the response and help @dlitvakb,

Now that you have explained it, it makes total sense given the structure of the payload. However, as this is a bit of "you just need to know it" issue, it might be worthwhile explaining this in the documentation more in-depth as it was not particularly intuitive nor obvious...not to me, at least. 😄

[2018-05-07 20:31] rezonant opened #156 "API errors are returned instead of thrown"
[code]
**Expected behavior:**
Errors should always be thrown, never returned.

**Actual behavior:**
Upon rate limiting, `spaces.find()` is returning the error object.

This behavior stems from the ResourceBuilder (resource_builder.rb, line 75):

[code]

[2018-05-07 20:34] rezonant commented on #156
One workaround is a monkey patch, though it may have side effects:

[code]

[2018-05-07 21:36] dlitvakb commented on #156
Hey @rezonant,

In the client instantiation you can send `raise_errors: true` and errors will be thrown instead of returned. This default has not been changed for backwards compatibility reasons.

Cheers

[2018-05-11 00:21] rezonant opened #158 "409 Conflict while creating a new asset"
Hello, for some reason I am receiving a 409 Conflict when I go to publish an asset that the script itself is creating. There is no human modifying the record, and this code was working perfectly until yesterday.

I am using the Contentful Management gem for Ruby (raw, without Contentful Model) to do this. Code:

[code]

Why would this result in a 409 Conflict? Does @space.assets.create() return an

[2018-05-11 05:57] dlitvakb commented on #158
Hey @rezonant,

Hey @rezonant,

The issue happening here, is that some times, the processing takes a bit longer (it is an async process), therefore I'd say you should wait a little bit before publishing, this is the way I solve it in the bootstrap tool: https://github.com/contentful/contentful-bootstrap.rb/blob/master/lib/contentful/bootstrap/templates/base.rb#L133-L146

Hope this helps,

Cheers

[2018-05-15 12:20] a-lehdet opened #160 "Problems with fetching entries by content type (bug?)"
Hi,

I've noticed some weird behaviour when attempting to fetch entries by content type like this:

[code]

I can determine from the entry IDs printed out, that the entries in question are of *ALL* content types, not of "theme" as requested. Furthermore, the limit is fixed to 100, no matter what I set as the `limit:` parameter value.

Before environments where introduced, the comparable functional

[2018-05-15 13:38] dlitvakb commented on #160
Hey @a-lehdet,

Let me look into this and come back to you,

Cheers

[2018-05-15 13:48] dlitvakb commented on #160
Hey @a-lehdet,

This indeed is a bug.

Looking into it,

Cheers

[2018-05-15 14:04] #160 closed

[2018-05-15 14:05] dlitvakb commented on #160
Hey @a-lehdet,

This has just been fixed on release 2.1.1

Cheers

[2018-05-16 06:10] a-lehdet commented on #160
Excellent @dlitvakb, thanks!

[2018-06-04 10:54] a-lehdet commented on #155
Hi @dlitvakb,

As the example you provided no longer works with the current version, I could really use some help as the documentation is still scarce regarding editor interfaces and help texts. Basically what I'm trying to archive is loop through all the fields of a content type and set `widgetId` and `helpText` for each field.

If you could provide a code example how this can be done, I would ap

[2018-06-04 12:01] dlitvakb commented on #155
Could you explain further what's not working? As there's no new published version since that comment has been made.

Cheers

[2018-06-04 12:32] a-lehdet commented on #155
@dlitvakb I'm getting the following error.

[code]

In addition, I'm a bit puzzled that the example connects to space rather than environment. I noticed that editor interfaces of a particular content type can be accessed like this...

`environment.content_types.find("content_type_id").editor_interface.default`

...but I wasn't able to figure out how to set values for `widgetId` and `helpText` of e

[2018-06-04 12:42] dlitvakb commented on #155
Can you provide me the snippet that throws that error?

Cheers

[2018-06-04 12:46] a-lehdet commented on #155
Here's the code. The purpose of the `editor_interface.controls.detect` loop is a bit unclear to me, but the content type in question `person` has a `fieldId` and `fieldName` that are called `name` and `Name`.

[code]

[2018-06-04 13:13] a-lehdet commented on #155
@dlitvakb

So far what I've got is this, basically just shooting in the dark...

person = @environment.content_types.find("person")
editor_interface = person.editor_interface.default

[code]

Trying to save using `editor_interface.save` gives this return `unknown method` error. Using `person.save` instead doesn't return errors, but doesn't update the help text field either.

[2018-06-04 14:14] dlitvakb commented on #155
Hey @a-lehdet,

I'll dig deeper into this as the snippet above (which I now updated to support environments) should work and will provide you an answer by around tomorrow this time.

Cheers

[2018-06-05 09:05] dlitvakb commented on #155
Hey @a-lehdet,

This is indeed something that's currently wrong in the SDK, though it's not because it's a bug, it's just because it's implemented a bit differently.

I'm going to add a `#save` method to the SDK for editor interfaces to avoid creating a breaking change by rewriting `#update`.

I will create a PR and get it reviewed as soon as possible,

Cheers

[2018-06-05 09:09] a-lehdet commented on #155
Hi @dlitvakb,

Thanks for investigating the issue. At the moment I've decided to proceed with the approach described in the first message of this thread (i.e. set the widgets and help texts in a single hash), but latter approach would definitely be more elegant, so adding the `save` method to editor interface is a welcome addition.

[2018-06-05 09:19] dlitvakb commented on #155
This is the snippet with how the updated SDK works:

[code]

Creating the PR right now,

Cheers

[2018-06-05 09:21] #156 closed

[2018-06-05 09:22] #158 closed

[2018-06-05 09:22] #152 closed

[2018-06-05 09:29] qumberali22 commented on #152
@dlitvakb I'm facing the same issue could please tell me how you solve this.

[2018-06-05 09:45] dlitvakb commented on #152
Hey @qumberali22,

Please follow the guide linked here: https://guides.rubygems.org/ssl-certificate-update/ It will explain better how to fix this.

Cheers

[2018-06-05 11:25] #155 closed, assigned to nobody

[2018-06-05 11:28] dlitvakb commented on #155
This has just been released as version 2.2.0

Cheers

[2018-06-13 10:08] mxlje opened #164 "Localization: default locale returned for empty fields without fallback"
I have the following code:

[code]

So far so good.

But when I change `locale=` to another locale code that exists in my space, for which no fallback locale has been specified and for which the entry in question has no value saved (the field is empty), it returns content in the default locale (English in this case). The same is true for literally any other string I set as `locale=` on the entry o

[2018-06-13 11:03] dlitvakb commented on #164
Hey @mxlje and @anjawaldbauer,

Let me investigate this a little bit and I'll let you know as soon as I find out more about this.

Cheers

[2018-06-13 11:45] dlitvakb commented on #164
I reproduced the case and examined our code and tests, and it turns out that since the SDK was created there were assumptions in place that when a field is not found for the locale the default locale value should be presented instead. This is only the case for reading, for writing it uses whatever there is present in the locale, and doesn't include other values. This behaviour predates the existen

[2018-06-13 12:28] mxlje commented on #164
Hey @dlitvakb, thank you for your fast reply. Your explanation makes total sense and is what I assumed might have happened.

I just installed this gem from your feature branch and it now correctly returns nil 🎉

Thank you for the quick resolution. I’ll use it from master (when it is merged) and will switch to the release version once it is out.

[2018-06-13 12:28] #164 closed

[2018-06-13 12:38] dlitvakb commented on #164
Hey @mxlje,

This has now been merged,

Cheers

[2018-08-02 09:39] #142 closed

[2018-09-17 10:33] a-lehdet opened #174 ".total method negates skip and limit, bug or feature? (2.3.0)"
Hi,

I noticed something peculiar with how `.total` method works when combined with `skip` and `limit` parameters.

This is how the client has been initialized in my code:

[code]
There is a total number of 5327 entries of the content type "article" in my space.

[code]

When I apply `skip` and/or `limit` parameters, the returned number still remains the same.

[code]

However, when I use the `"sy

[2018-09-17 10:57] dlitvakb commented on #174
Hey @a-lehdet,

`total` is the amount of entries that match the query, not the amount of entries in the current request. You can use it to paginate.

If you want to know the amount of entries in the current query results, then you should use `#size`.

Cheers

[2018-09-17 11:10] a-lehdet commented on #174
Hi @dlitvakb

OK, that makes sense. I already tried using `size` which works...up to a point. The problem is, when the limit is set high enough, the response payload grows too big (?) and causes an error

For example, in our case the a limit of 100 works...

[code]

...but a limit of 300 doesn't work.

[code]

[2018-09-17 12:03] dlitvakb commented on #174
Hey @a-lehdet,

There's 2 different things happening here:

1. As you're not using `raise_errors: true` instead of having an exception thrown, you're getting the error back from the API, then calling `#size` on an error, of course returns an error, because you don't have the expected object there.
2. The error you're receiving is most likely because you exceeded the maximum response size limit (wh

[2018-09-17 12:14] a-lehdet commented on #174
@dlitvakb

Confirmed; I turned on `raise_errors` and the response is indeed too big as suspected.

[code]

[2018-09-17 12:14] #174 closed

[2018-09-17 13:49] dlitvakb commented on #174
Hey @a-lehdet,

Glad to be of help,

Cheers

[2018-09-20 10:00] mxlje opened #175 "Pagination for all entries returns duplicate entries"
Objective: make an automated change to a subset of fields of every entry of a specific content type, save, and publish the entry.

From reading the documentation, I have to create a client, find an environment, and then call `env.entries.all`, which returns a paginated response. Then loop over the items in the page and call `next_page` to walk through all the pages.

I wrote this script:

[code]

[2018-09-20 12:03] dlitvakb commented on #175
Hey @mxlje,

This is happening because unless using a strict order parameter, there's no guarantees that the returned content will be the proper content you're expecting. This is documented here: https://www.contentful.com/developers/docs/references/content-management-api/#/introduction/collection-resources-and-pagination

Also, I'd advise doing pagination a bit differently, something similar to w

[2018-09-25 10:02] mxlje commented on #175
Thank you for your reply. That looks like it answers my question, I’ll check out the example pagination code you sent, too.

[2018-09-25 10:02] #175 closed

[2018-09-27 12:28] ahmad-bakr opened #176 "DynamicEntry does not inherit the environment_id from the ContentType"
Given two environments (master and staging).

[code]

That allows entries created this way to be stored in a different environment. I believe that is due environment_id is not passed to the DynamicEntry https://github.com/contentful/contentful-management.rb/blob/master/lib/contentful/management/content_type_entry_methods_factory.rb#L42

[2018-09-27 12:35] dlitvakb commented on #176
Hey @ahmad-bakr,

This happens because as the entry doesn't have a `sys['environment']` it assumes it's defaulting to `master`.

This does not affect the behaviour of the entry. If you found a case, other than the snippet shared above, in which this affects your application, please let me know.

Cheers

[2018-09-28 21:29] joelip opened #177 "Getting save failures for lack of an X-Contentful-Content-Type header"
Hi there,

I've been trying to duplicate Contentful entries in an application I'm writing and trying to save an object instantiated with the `new` operator is yielding this error:

[code]

Here is how I'm initializing the client and instantiating the new entry object:

[code]

I was modeling my code after the [examples provided in the README](https://github.com/contentful/contentful-management.rb#

[2018-10-01 08:17] dlitvakb commented on #177
Hey @joelip,

You should probably try doing:

[code]

I'd often advise against using `new` as it may lead to inconsistent states some times.

Cheers

[2018-10-01 17:44] joelip commented on #177
@dlitvakb Can you elaborate on the "inconsistent states" more? I'm trying to reduce the number of API calls I need to make via the management API because it's so heavily rate-limited, so adding an extra `create` call is not something that's ideal for our use-case. Is there any way to use the `new` method properly that isn't in your documentation already?

[2018-10-01 20:50] andreyrd opened #178 "Checking if entry/asset is "changed""
https://github.com/contentful/contentful-management.rb#entries

Currently, looks like we can check if a resource has ever been published, using `my_entry.published?`.
But that returns true even if the entry has been changed.

1. Is the proper approach to check if `my_entry["sys"]["updatedAt"] > my_entry["sys"]["publishedAt"]`?
2. Is it worth adding a `changed?` method?

[2018-10-02 08:10] dlitvakb commented on #177
Hey @joelip,

It highly depends on what you do in the part of the snippet you omitted.

The main difference between using `::create` and `::new`, is that with `::create` you're directly making the API call with all the values for the fields set from the beginning and returns the fully hydrated entry.
When using `::new` instead, you get an unhydrated entry, in which you start appending values to, t

[2018-10-02 08:15] dlitvakb commented on #178
Hey @andreyrd,

For 1, that's the correct approach.

For 2, `#changed?` may be a bad name, maybe `#pending_changes?` is better, and yes, can be added. But that would also mean I would need to implement `#dirty?` in order to differentiate changed values in the object itself vs changed values in the API.

I'll be looking into adding this very soon, as I'm going to be working this week on adding a fe

[2018-10-03 21:42] joelip commented on #177
It seems like based on the examples in [your](https://github.com/contentful/contentful-management.rb#entries) [documentation](https://www.contentful.com/developers/docs/references/content-management-api/#/reference/entries/entry/create-update-an-entry/console/ruby), that the minimum number of API calls to duplicate an entry would be 4:

- 1 to retrieve the source entry
- 1 to retrieve the content

[2018-10-18 12:00] dlitvakb commented on #177
Hey @joelip,

I don't understand the 4th point there, from what I understand from your use-case you can use 3 (or 2,  if you wrap the Content Type ID in an object that responds to `#id`).

* Retrieve the source entry
* Retrieve the destination content type (or use a wrapper for the content type id if you already have it)

[code]

* Create the destination entry

[code]

If you're using multiple loc

[2018-10-18 18:20] joelip commented on #177
Interesting, so as long as the object passed to `content_type` responds to `id` it works just fine?

[2018-10-19 00:30] joelip commented on #177
After trying this myself, it looks like this:

[code]

Doesn't work unfortunately. It fails in [this method](https://github.com/contentful/contentful-management.rb/blob/557ed4a150fb59a0ab4691b9410883c376452fff/lib/contentful/management/entry.rb#L116), which is called at created time. I am assuming that the client was only created using `Contentful::Management::Client.new('<management-api-token>')`

[2018-10-24 15:02] twei55 opened #182 "Updating field properties not working !?"
I am using this line from the README to update my content type:

[code]

I read content_type definitions from a JSON file and update my content model, but as far as I can see, there is no change applied to fields that already exist. I can add additional fields but I can't change properties of already existing fields.

This is the code I use to update the content type:

[code]

[2018-10-25 10:19] dlitvakb commented on #182
Hey @twei55,

Everything looks fine,

I'd try to change the `#update` call to use `#save` instead like follows and see if it works:

[code]

Please let me know if this doesn't work, and we can follow up from there, as if it doesn't I'd need specific information about the JSON content you're trying to use and possibly your space.

Cheers

[2018-11-01 13:53] twei55 commented on #182
Hey @dlitvakb,

thanks for your reply. I tried your suggestion but it doesn't work for me, so I am not able to update my content types using either update or save. Not absolutely sure but I guess this has nothing to do with my JSON data because I create the content_types with the same data w/o any problems. How can we proceed? How can I send you the information about my space? Thanks in advance

[2018-11-01 16:03] dlitvakb commented on #182
Hey @twei55,

You can create a support ticket at https://support.contentful.com and request for my help, we can discuss there in more depth.

Cheers

[2018-11-02 10:49] twei55 commented on #182
@dlitvakb I solved the issue on my side. It seems that there are certain limitations (which make sense), so changing the id of an already existing field is not possible as well as removing a field or changing the type. Nevertheless it is possible to change the name of a field, adding additional fields or changing meta properties (disabled, required, ...).

[2018-11-02 10:49] #182 closed

[2019-01-21 23:09] dleavitt opened #184 "Entity field named "client" breaks create call"
To reproduce:
1. Create a content model with a field named client.
2. `entries.create(content_type, { client: 'asdf' } )`

Entry is created successfully but errors in after_create hook (the first time `client` is referenced)
https://github.com/contentful/contentful-management.rb/issues/new

`undefined method 'default_locale' for "asdf":String`

[2019-01-23 12:22] dlitvakb commented on #184
Hey @dleavitt,

Thanks for reporting this, I'll take a look into how to solve this.

Cheers

[2019-01-25 19:11] seancdavis opened #185 "Field named `id` assumes it is the system `id` value"
When there is a field named `id` for an entry and I attempt to save the entry, it conflicts with the Contentful ID. Thus, I am unable to update an entry unless the custom `id` field matches the system's `id` value.

Suppose `client` is defined as a Contentful environment object, and I retrieve an entry from the database:

[code]

Now suppose that entry has a field defined in its content model call

[2019-01-25 20:05] dlitvakb commented on #185
Hey @seancdavis,

You can still set the value for the field called `id`, without affecting the `sys.id`.

To do so, you need not to use the short-hand accessor, but instead use the more verbous way of:

[code]

This will avoid using the short-hand accessor, and allow you to use the field.

This behaviour will not be changed since the short-hand accessor is a convenience method.

Hope this explains

[2019-01-25 20:12] dlitvakb commented on #185
One caveat, the field may be have to be called using a symbol instead of a string. I'm on mobile currently without access to a laptop to check.

Cheers

[2019-01-25 21:41] seancdavis commented on #185
Thanks for the quick response, @dlitvakb! That did the trick.

[2019-01-25 21:41] #185 closed

[2019-02-07 14:07] #178 closed

[2019-03-18 19:10] andre8888 opened #188 "Can't find user with user_id"
ContentfulWriteClient = Contentful::Management::Client.new(
  Rails.application.secrets.contentful_management_access_token
)

This is working: ContentfulWriteClient.users.find('me')
=> #<Contentful::Management::User: @properties={:email=>"xxx", :lastName=>"xxx", :firstName=>"xxx", :avatarUrl=>"xxx", :activated=>true, :confirmed=>true, :signInCount=>7} @sys={:type=>"User", :id=>"2XfpR7Cg0XF9mpl0zw8

[2019-04-01 07:31] petertellgren opened #189 "Calling save on Webhook produces BadRequest where as calling update succeeds"
Given a webhook (probably true for other resources, not tested)
[code]

Using the assign and save method causes BadRequest:
[code]

Where as using `update` works just fine:
[code]

[2019-04-02 11:47] dlitvakb commented on #184
Hey @dleavitt,

I've taken some time into researching this, sadly, it's not so easy to fix. Maybe in a next major version it will be solved, but for the moment this will have to remain as is.

So this will not get fixed, I encourage you to rename that field to something different.

[2019-04-08 07:32] #189 closed

[2019-04-17 21:53] antwonlee opened #191 "Is there a way to find the entry with slug?"
Is there a way to query through slug opposed to id?  I am doing something simple like this in Rails:

[code]

[2019-04-18 07:10] dlitvakb commented on #191
Hey @antwonlee,

You can do that by doing a check on that particular field. It would look something like `contentful.entries(content_type: 'myUpdates', include: 10, 'fields.slug' => params[:id]).first`.

Hope this helps,

Cheers

[2019-04-18 07:11] dlitvakb commented on #191
Also, this is a question better suited for our CDA SDK repo: https://github.com/contentful/contentful.rb

[2019-04-18 09:59] antwonlee commented on #191
Thanks, @dlitvakb! I found that official ruby library after I posted the question here.  That helps!

[2019-04-18 09:59] #191 closed

[2019-05-14 15:11] drewmoore commented on #156
Could this be included in a future release? I would argue that this should be the default behaviour. We are running rake tasks that affect thousands of entries. We had not realised that many updates were failing silently.

[2019-05-14 15:19] dlitvakb commented on #156
Hey @drewmoore,

Not for the moment, given that it would require a major version change.

Please consider updating your client instantiation code to include the `raise_errors: true`.

Cheers

[2019-05-31 14:00] kamui commented on #151
@dlitvakb Somewhat related, but since the `json` is now up to version 2.x I was wondering if could bump the json version dependency to `>= 1.8`?

I have another gem that required json 2.x and this is causing a conflict. Because json 2.x seems to add better compatibility with ruby 2.4, 2.6 and `RFC 7159` compliance, it seems like a good idea support it?

[2019-06-11 14:25] bcapdevilac commented on #151
Same issue here - is there any plan to merge @kamui PR https://github.com/contentful/contentful-management.rb/pull/196 soon?

[2019-06-12 09:06] dlitvakb commented on #151
Merged, will release soon.

[2019-06-12 09:06] #151 closed

[2019-06-12 09:35] dlitvakb commented on #176
This has been fixed by #195

Will release soon.

[2019-06-12 09:35] #176 closed

[2019-06-12 09:55] dlitvakb commented on #176
Released in 2.10.0

[2019-06-21 16:06] malorie16 opened #198 "Difficulty with Rich Text Block"
I might be missing something but is there an addition step needed to push content up to a rich text field? I'm currently trying to push markup to a rich text field but it's breaking here:

![Screen Shot 2019-06-21 at 12 02 44](https://user-images.githubusercontent.com/37854050/59935768-8b629680-941c-11e9-8422-338913bd13fa.png)

Here's my code:

![Screen Shot 2019-06-21 at 12 04 44](https://user-im

[2019-06-21 17:13] dlitvakb commented on #198
Hey @malorie16,

You haven't included the error itself, so I cannot understand what may be going on.

Please include the exception message so I can look further into this.

Cheers

[2019-06-21 17:49] malorie16 commented on #198
Hi! Thanks for your quick response. Here's a screenshot of the error:

![Screen Shot 2019-06-21 at 13 47 12](https://user-images.githubusercontent.com/37854050/59941435-2febd500-942b-11e9-8794-52cbd8995905.png)

[2019-06-21 17:58] dlitvakb commented on #198
Hey @malorie16,

Looks like you're trying to input Markdown into a Rich Text field, and that's what's failing. But I cannot confirm that without knowing what your `content` field actually is or what validations it does have if it is not actually RichText.

Cheers

[2019-06-21 18:03] malorie16 commented on #198
Hi! That's correct - I need to add markdown. So is the only way to add markdown into a rich text field to convert it using the `rich-text-from-markdown` package? As seen in this article: https://www.contentful.com/developers/docs/tutorials/general/migrate-to-rich-text/#10-markdown-migration-script

[2019-06-24 07:36] dlitvakb commented on #198
Hey @malorie16,

Yes, either using our JS lib to convert it to Rich Text JSON, or doing it manually.
The other possibility, is just using a regular Long Text field, if you just need Markdown and not any of the additional features that RichText provides.

Cheers

[2019-06-24 14:34] malorie16 commented on #198
Yea we need to be able to embed components into these fields so it absolutely needs to be a Rich Text field. Curious - how exactly would I got about doing it manually? When making my POST request I tried to format the content using a Rich Text field response as a template with no luck. Push comes to shove, it seems this will be my option: https://www.contentful.com/developers/docs/tutorials/genera

[2019-06-24 14:47] dlitvakb commented on #198
Hey @malorie16,

That example uses [this library](https://github.com/contentful/rich-text/blob/master/packages/rich-text-from-markdown/src/index.ts) to do the conversion, you could replicate this logic in Ruby if you need it to be exclusively in Ruby.

Otherwise, you could write a small intermediate script that passes your markdown through that library, and then you consume it from your Ruby scrip

[2019-06-24 14:58] malorie16 commented on #198
Gotcha. Thanks so much for your help!

[2019-06-24 14:58] #198 closed

[2019-07-12 00:05] HQ063 opened #201 "Updating non localized fields is ignored when entry locale is not the default locale"
I have a space with two locales, `en-CA` and `fr-CA`. I would expect that if I set a value into a non-localized field, it should always set the value, regarding the current locale. But this is what happens when you try to set a non-localized field using a non-default locale:

[code]

[2019-07-12 00:14] HQ063 opened #202 "Updating fields_with_locales has weird unintuitive behaviour"
Assigning a hash to `field_with_locales` doesn't override the current hash.
And trying to manipulate the existing `field_with_locales` hash didn't do anything.

This looks totally weird and unintuitive.
[code]

And also it I don't allow us to delete an existing key.

[2019-07-12 03:43] HQ063 opened #203 "Issues with assigning fields to asset when locale is not default"
Similar to #201 but on assets it evens fails for localized fields.

I have a space with two locales, `en-CA` and `fr-CA`. I would expect that if I set a value into an asset field, it should always set the value into the current locale. But this is what happens when you try to do it through `#title=` or `#description=`
[code]

and if you try to use the `#title_with_locales=`, the value will be save

[2019-07-12 03:45] HQ063 opened #204 "Inconsistency between space/environments locales and default locale"
There is some inconsistency regarding locales and default locale on space and environment. The locales are defined in a specific environment, but the default locale is defined in the space. This leads to weird situations.
For example, the space object has a `#default_locale` method, but it has no `#locales` and the environment has a `#locales` but not a `#default_locale`, and when I query the `def

[2019-09-15 18:56] mgrip opened #205 "Old http dependency causing issues"
This gem requires an older version of the `http` gem, which is causing conflicts with other gems (specifically `elastic-apm`). Would it be possible to update it to >3.0?

[code]

[2019-09-19 15:23] mgrip commented on #205
Thank you! 🎉

[2019-09-19 15:23] #205 closed

[2019-10-19 04:11] gilest opened #209 "Creating an asset example fails on `process_file`"
Following along from README.md.

[code]

Fails with this error:

[code]

It seems that some properties are missing on the `asset.file` object.

The following snippet completes without error:

[code]

[2020-02-17 11:14] AlexAvlonitis opened #210 "Error reading from socket"
Intermittent connection issues when updating-deleting records. As a workourand I'm retrying the request.

[code]

[2020-02-17 13:15] HQ063 commented on #210
Are you doing batch operations? You may be exceeding the API rate

[2020-02-17 14:29] AlexAvlonitis commented on #210
I'm trying the same set of data every time, fails intermittently, about 700 entries not faster than 1 entry per second. At some point i'm fetching entries with the paginated data, I added 1 sec throttle there as well. Wouldn't it return rate limit error if it was exceeding the limits?

[2020-02-17 14:37] MrAlecJohnson opened #211 "Rich text field validations prevent operations on content type"
**Summary**
If I have a content type, I can normally use the API to add fields to it.

If that content type contains a rich text field with validations, I can no longer use the API to add fields to it. I've found a workaround, but it destroys some validations.

**Details**
I create a content type called `test_type`, either through the web app or through the API. That content type does not contain

[2020-02-17 14:38] dlitvakb commented on #210
Hey @AlexAvlonitis,

This is usually related to connection issues on the client's network end. Is it possible for you to run a `ping` check on your end and check if there's any packet loss? If you're having network issues, this is an easy way to diagnose it.

Cheers

[2020-02-17 15:28] AlexAvlonitis commented on #210
Thanks for the responses @HQ063 @dlitvakb, i ran ping with 0 packet loss for about half an hour.
![Screenshot from 2020-02-17 15-25-16](https://user-images.githubusercontent.com/8425834/74666750-f88c1e80-5199-11ea-8a78-a1031493bef1.png)

Also found out this and might be relevant, someone had similar issue with the http gem, and i think they patched it recently
https://github.com/httprb/http/issues

[2020-02-21 14:57] strickland84 commented on #210
I have the same error when attempting to retrieve all/any specific content types using this gem:

[code]

content_types gives `*** HTTP::ConnectionError Exception: error reading from socket: Could not parse data`

This code used to work with no problem, and hasn't changed for about 18 months on my end. Lately this call is failing 100% of the time with this HTTP error.

I have tried upgrading the H

[2020-03-03 18:24] kkorach commented on #210
I was having the same error.  Downgrading to v4.1.1 of http solved the problem.

[2020-03-10 20:17] strickland84 commented on #210
thanks @kkorach that fixed it for me.

[2020-04-29 02:13] thanhltx commented on #152
I've had same issue.

It was successfully when I tried
`ruby -ropen-uri -e 'eval open("https://git.io/vQhWq").read'`
or
but I was not successfully for the url that I would like to get: and the error was
SSL_connect returned=6 errno=0 state=SSLv3/TLS write client hello (OpenSSL::SSL::SSLError)'

It was successful when I try this url with curl connection as below:
[code]

I'm not sure what did I mis

[2020-04-29 20:40] thanhltx commented on #152
I knew what is the problem.

That because default ssl_version is something which is used one in Api endpoints.
To check what is the ssl_version is used: [https://gist.github.com/mlsaito/1b149f7fd4e070c40465913f8c89a2c5](https://gist.github.com/mlsaito/1b149f7fd4e070c40465913f8c89a2c5).

below is example in httparty, that can fix this issue
HTTParty.get(
            url,
            headers: header

[2020-05-01 18:58] svignara opened #213 "Retrieving content types throws an HTTP connection error"
Trying to follow along with the readme and the official [documentation](https://www.contentful.com/developers/docs/references/content-management-api/#/reference/content-types/content-type/get-a-single-content-type/console/ruby) for retrieving content types by ID. I have this code:

[code]

But I'm getting the following error and error trace:

[code]

Oddly, retrieving ALL content types in the spac

[2020-05-01 19:39] svignara commented on #213
Updating the `http` gem fixed this for me, noticed that this was also a duplicate of #210

[2020-05-01 19:39] #213 closed

[2020-05-19 01:33] vitscurtu commented on #188
Hi, I have the same issue. Any plans on addressing it and if not, is there a workaround?

Thanks,
Vitalie

[2020-05-19 06:08] dlitvakb commented on #188
Hey @andre8888 and @vitscurtu,

We're adding the User Management API soon to this SDK.

Cheers

[2020-06-21 17:28] eric-gymondo commented on #104
@dlitvakb I did exactly the workaround you suggested but now I get

Details: {
  "sys": {
    "type": "Error",
    "id": "ValidationFailed"
  },
  "message": "Validation error",
  "details": {
    "errors": [
      {
        "name": "required",
        "path": [
          "fields",
          "file",
          "zzz-AC"
        ],
        "details": "No file specified for locale: zzz-AC"
      }

[2020-06-22 07:21] dlitvakb commented on #104
Hey @eric-gymondo,

Looks like your issue is different. Seems like you have a locale configured as required and non optionally blank. Therefore it's requiring you to have that locale available when publishing.

In your case `zzz-AC`.

Please check that you have content for that locale and try again.

Cheers

[2020-06-22 08:15] eric-gymondo commented on #104
Hello @dlitvakb thanks I will check that for sure.

[2020-06-22 08:38] eric-gymondo commented on #104
@dlitvakb I tried to mark `Allow empty fields for this locale` but when I'm trying to create the asset for the locale I still get exactly the same error, where can disable 'locale configured as required and non optionally blank' for an asset?

[2020-06-24 17:54] srgoldman opened #215 "JSON field getting cleared on save"
Simply retrieving the entry and saving it without any changes clears one of the Object fields (but not the others).

[code]

[2020-07-02 10:37] dlitvakb commented on #215
Hey @srgoldman,

I'll take a look and let you know what I find.

Cheers

[2020-07-02 10:48] dlitvakb commented on #215
Managed to reproduce, looking for a fix.

[2020-07-02 10:59] dlitvakb commented on #215
Found the issue, working on it.

[2020-07-02 12:27] #215 closed

[2020-07-02 15:28] srgoldman commented on #215
Awesome! Thanks!

[2020-07-13 22:44] vitscurtu commented on #211
Hi all,
I have a similar issue. I went into the code and tried to debug it, here's what I've found.

contentful-management-2.12.1/lib/contentful/management/field.rb:90

It crashes when `validation` is a hash since it does not have `properties_to_hash`

`
NoMethodError: undefined method `properties_to_hash' for {}:Hash
`

I tried adding a check for hashes,  but after trying, the API actually ignore

[2020-11-09 12:48] #188 closed

[2021-01-05 23:17] joelip opened #219 "Gem blows up when querying entries that have tags associated with them"
We recently started experimenting with tags in Contentful and we've found that it breaks a lot of functionality with the Management API. When querying an entry with a tag here is an example object that breaks:

[code]

It blows up on [this line in the `replace_children` method](https://github.com/contentful/contentful-management.rb/blob/8d15747cd5cc913a5444597e470921a2481b1feb/lib/contentful/manag

[2021-01-05 23:24] joelip commented on #219
I'm happy to create a PR to update [this `next` condition](https://github.com/contentful/contentful-management.rb/blob/8d15747cd5cc913a5444597e470921a2481b1feb/lib/contentful/management/resource_builder.rb#L217) to also skip `"metadata"` but I'm not sure if you want to actually support the resource more fully.

[2021-01-07 18:55] joelip commented on #219
@dlitvakb hey, thanks for merging that PR. However, it looks like you didn't really address this part of my issue:

We have literally thousands of entries that have an associated metadata field. Is there any way to fix that issue too? The metaprogramming in the gem makes it difficult to work around this.

[2021-01-08 11:48] dlitvakb commented on #219
Hey @joelip ,

To access the field, you can always use the `entry.fields(locale)[:field_name]` accessor if there's any conflict.

Cheers

[2021-01-20 23:03] crowdcow-shae opened #221 "Entry destroy not working as expected"
Unpublish & archive working but destroy results in this error `FrozenError (can't modify frozen String: "")`. Tried unpublishing and/or archiving first, but destroy still failed. Is there some other config or process to destroy entries?

[code]

[2021-01-21 03:09] rubydog commented on #221
Hey @crowdcow-shae, thanks for reporting the issue.   

I am looking into it. I will get back to you if I need more details.

Cheers

[2021-01-21 10:57] rubydog commented on #211
Hi @MrAlecJohnson and @vitscurtu,

I am taking a look at this issue, and trying to reproduce it. Can you please confirm if you are still facing the issue?

Cheers,
Bhushan

[2021-01-21 15:56] MrAlecJohnson commented on #211
Hi @rubydog - thanks for the reply. I've moved on from that job so I'm afraid I don't know how things have changed since this came up. I've pointed folks still working there in the direction of this issue, so hopefully someone will be in touch if it is still causing problems.

[2021-01-21 16:58] vitscurtu commented on #211
@rubydog,

I'm still able to reproduce the issue. Let me know if you need more details/log data.

[2021-02-06 05:06] rubydog commented on #219
@joelip thanks for reporting the issue.

The SDK doesn't support content tags yet. I am working on adding support to content tags and fix name conflict issue.

Cheers

[2021-03-11 10:09] sanczi789 opened #223 "Creating entry with field 'id' doesn't work"
I've got a content type with field 'id', whn I'm trying to create it using the gem with:
entry = entry_content_type.entries.create(id: 123, name: 'Name') I get:
`Message: Validation error
Details:
        * Name:  - Path: '' - Value: ''
        * Name:  - Path: '' - Value: ''`

[2021-03-11 10:14] rubydog commented on #223
Hi @sanczi789, thanks for reporting the issue. Which version of sdk are you using?

[2021-03-11 10:41] sanczi789 commented on #223
not sure? I'm using contentful-management gem 3.0.0, can it be sth with locales? my space has a default locale other than 'en-US' but when using the gem it still seems to think that's the default one.

[2021-03-11 12:46] #223 closed

[2021-03-12 01:40] rubydog commented on #223
Hi @sanczi789, I am glad you found solution. Can you also please share your findings with the community?

Cheers

[2021-03-12 13:15] sanczi789 commented on #223
I had to set the default locale here:
client = Contentful::Management::Client.new('ABC123', default_locale: 'def-locale')

[2021-03-18 15:22] sanczi789 commented on #185
I'm having a similar issue, when creating an entry with field `id` it creates but set t he Contentful entry id to that value as well. I tried with:
 x_content_type.entries.create(id: 123, name: 'name')
and
entry = x_content_type.entries.new
entry.name = 'name'
entry.fields('en-US')[:id} = 123
entry.save

And when I try creating it first and then updating id it creates it again

[2021-05-07 15:07] ghepting opened #224 "Get all users implementation missing"
Hey, it looks like contentful-management.rb is missing the get all users API feature, which is quite critical for some user access control synchronization work our team at Square is about to execute on

API Reference: https://www.contentful.com/developers/docs/references/user-management-api/#/reference/users

Ruby SDK missing `.all` method/functionality:
![image](https://user-images.githubusercont

[2021-05-21 07:22] rubydog commented on #224
@ghepting I am working on it, I will keep you posted.

[2021-05-21 15:51] ghepting commented on #224
Fantastic! Thanks for the update :)

[2021-05-27 13:51] ghepting commented on #224
Hey @rubydog – curious, is your scope of work on this encapsulating all of the User Management API functionality?

[2021-05-28 07:24] rubydog commented on #224
@ghepting No, just get all users API feature.

[2021-05-31 07:43] #224 closed

[2021-08-12 14:46] ghepting opened #229 "editor_interface missing sidebar implementation"
Hello! It appears that contentful-management.rb is missing the implementation to manage the sidebar configurations on a `Contentful::Management::EditorInterface` resource, which is critical for some of the work our team at Square is working on

Reference: https://www.contentful.com/developers/docs/extensibility/custom-sidebar/
API Reference: https://www.contentful.com/developers/docs/references/co

[2021-08-17 13:33] rubydog commented on #229
Hey @ghepting, I am taking a look at it now. I will keep you posted on my progress.

Cheers

[2021-08-24 20:22] ghepting opened #230 "Tasks implementation missing in contentful-management.rb"
Need to be able to create/read/update/delete Tasks on an entry via contentful-management.rb.

need to:
   - create a Task Resource
   - include it in the Contentful::Management::ResourceBuilder class
   - update mapping of sys types to include Tasks
   - be able to run create_all_resources on the Contentful::Management::Response

See: https://github.com/contentful/contentful-management.rb/blob/517

[2021-08-31 15:24] #229 closed

[2021-11-03 14:51] dragon-dxw opened #233 "Unprocessable Entity: raised error message provides insufficient information"
Debugging an issue with locales, I found that the error message from `Contentful::Management::UnprocessableEntity` was giving me no information beyond a `ValidationError` and that there was no name, path or value associated with the issue.

I've monkeypatched the `handle_error function like this and it gives much better details: this might be of interest more widely and might be worth using in the

[2021-11-09 16:18] paul-mesnilgrente opened #234 "Creating an asset from upload fails"
Hi,

I have this code snippet:

[code]

which is pretty much the example from the README.md

However this doesn't work. The created asset is "Untitled" with no attachment.

I tried this fix:

[code]

which is renaming the asset and linking the upload, however the image processing never finishes and so I can't publish it.

Do you know how it should be done or does this need a fix?

[2021-11-18 13:58] paul-mesnilgrente opened #235 "Why is there nothing in this gem?"
I'm trying some very simple stuff like:

[code]

But it's not working, when I run

[code]

How simple should this be?

[2021-11-20 04:00] rubydog commented on #235
@paul-mesnilgrente You need to save entry `entry.save` after updating it to reflect the changes.

Trying the following might resolve your issue.
[code]

Let me know if the fix works.

Cheers

[2021-11-22 12:15] paul-mesnilgrente commented on #235
I tried that but the result is the same :/

[2022-04-08 13:59] seanbourkemckenna opened #238 "Can't access Users API"
Hey @rubydog 👋

I see you closed an issue like this before and implemented the functionality so not sure what's happening here.

https://github.com/contentful/contentful-management.rb/issues/224

I can't get a space's users or query a single user. Same happens with organizations.

`space = client.spaces.find('xny2w179f4ki')`

[code]

[code]
[code]

[code]

[2022-04-22 03:35] rubydog commented on #238
Hi @seanbourkemckenna, which contentful-management.rb gem version are you using?

[2022-04-28 08:43] seanbourkemckenna commented on #238
Hey @rubydog!

I seem to not be experiencing the issue anymore, there's a chance I was using an older version maybe? Not sure, will circle back if I experience it again

[2022-04-28 08:43] #238 closed

[2022-05-20 21:24] paulstraw opened #240 "Editor interface `sidebar` property unexpectedly `nil`"
Whenever I call `environment.editor_interfaces.default('someContentTypeId')`, I get back a `Contentful::Management::EditorInterface` with a `nil` value for the `sidebar` property. `controls` works fine, being an empty array if no fields are present, or an array with the expected values otherwise.

This is happening on contentful-management 3.4.0, Ruby 2.7.5. I've included some `rails c` output sho

[2022-05-29 18:23] rubydog commented on #240
@paulstraw Did downgrading fix the issue?

[2022-05-31 17:34] paulstraw commented on #240
@rubydog downgrading to the last release before the sidebar feature was added works for us as a temporary fix, yes. Of course, now we don't have access to edit the sidebar if needed.

[2022-06-09 21:44] paulstraw opened #244 "Inconsistent 400/409 errors"
Hi there! My company has set up the contentful-management gem in our application (combined with contentful-migrations). This lets us store migrations in the codebase and automatically deploy them alongside other code changes. Overall, the system works fairly well.

Unfortunately, we get frequent 400/409 errors from contentful-management when migrations are run as part of the CD pipeline. Initially

[2022-06-10 20:17] seand7565 commented on #244
I think I have a read on why this happens.

In `execute_request` in [the client](https://github.com/contentful/contentful-management.rb/blob/2894d05e709869665de5292a7853c627d830678c/lib/contentful/management/client.rb#L377), we enter into a transaction block, perform the request, clear the headers and if there are any errors (& errors are turned on), we raise them.

However, this causes issues whe

[2022-06-27 12:44] rubydog commented on #240
@paulstraw It will only return sidebar if there has been changes to sidebar. I will close this issue for now as it is not a bug in contentful-management.rb but feel free to re-open it if you have any doubts.

Cheers

[2022-06-27 12:44] #240 closed

[2022-07-18 10:58] rubydog commented on #244
PR merged: https://github.com/contentful/contentful-management.rb/pull/245

[2022-07-18 10:58] #244 closed

[2022-09-16 11:51] ghepting opened #250 "No default reviewers/maintainers added to pull requests"
This repository has no default reviewers configured which results in community contributions going unnoticed and unreviewed. I suggest configuring the default reviewers so that the maintainers and SDK teams can be notified and proactive about maintenance and reviewing community contributions to this SDK which is currently starved for TLC.

cc: @rubydog who appears to be the only active contributor

[2022-10-12 23:54] rubydog commented on #250
@ghepting noted. I will take a look at how this can be done and circle back.